.hero {
    background: url(../../images/bg/hero1800.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__links-hamburger {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
}

.hamburger__item{
    width: 40px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.hero__links {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

// Социалки

.socials {
    padding: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
}

.socials__item {
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    width: 30px;
    height: 30px;
}

.socials__link {
    // text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    width: 26px;
    height: 26px;
    display: block;
}

// VK
.socials li:nth-child(1) .socials__link {
    background-image: url(../../images/content/icons/vk-26-black.png);
}

.socials li:nth-child(1) .socials__link:hover {
    background-image: url(../../images/content/icons/vk-26-blue.png);
}

// github
.socials li:nth-child(2) .socials__link {
    background-image: url(../../images/content/icons/github-32-black.png);
}

.socials li:nth-child(2) .socials__link:hover {
    background-image: url(../../images/content/icons/github-32-blue.png);
}

// Facebook
.socials li:nth-child(3) .socials__link {
    background-image: url(../../images/content/icons/facebook-26-black.png);
}

.socials li:nth-child(3) .socials__link:hover {
    background-image: url(../../images/content/icons/facebook-26-blue.png);
}

// Instagram
.socials li:nth-child(4) .socials__link {
    background-image: url(../../images/content/icons/instagram-26-monodark.png);
}

.socials li:nth-child(4) .socials__link:hover {
    background-image: url(../../images/content/icons/instagram-26-color.png);
}

.user__name {
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.171;
    text-align: center;
}


.user__desc {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
}

.arrow-down {
    width: 30px;
    min-height: 30px;
    background: url(/images/content/icons/portf_arrow_down.png) center center no-repeat;
    background-size: cover;
    // overflow: hidden;
    text-align: center;
    margin-top: 70px;
    // position: absolute;
    // left: 900px;
    // background-color: green;
    z-index: 100;
}
  
.section-title__img {
    background-image: url(../../images/content/user-full.jpg);
    width: 140px;
    min-height: 140px;
    background-size: cover;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    text-align: center;
}

.user__description {
    color: rgba($color: #fff, $alpha: .7);
    display: flex;
    flex-direction: column;
    // width: 300px;
    align-items: center;
    justify-content: center;
}

.hero__title {
    width: 300px;
    margin-top: 200px;
    text-align: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.about__left {
    width: 50%;
    min-height: 100%;
    background-color: #f2f0e8;
}

.triangles {
    min-height: 100%;
    height: 200px;
    margin-top: -200px;
    z-index: 1;
    padding: 0;
}

.triangles-svg {
    margin: 0 auto;
    width: 100%;
}

.svg-rect-left {
    fill: #f2f0e8;
    // stroke-width: 5;
    // fill-opacity: 0.7;
    // stroke-opacity: 0.8;
}

.svg-rect-right {
    fill: #eae8e2;
}

.block-title {
    font-size: 62.792px;
    font-family: "sansuswebissimo";
    color: rgb(71, 75, 87);
    text-transform: uppercase;
    line-height: 1.048;
    text-align: center;
    // font-weight: bold;
}

.about__right-title {
    text-align: center;

}

.block-subtitle {
    // width: 265px;
    // min-height: 65px;
    text-align: center;
    margin: 10px;
    font-size: 35px;
    font-family: "sansuswebissimo";
    color: rgb(71, 75, 87);
    text-transform: uppercase;
    line-height: 1.171;
    display: inline-block;
}

.user-description__image {
    text-align: center;
}

.user-descpription__avatar {
    // width: 300px;
    // min-height: 300px;
    // background-image: url(../../images/content/user-full2.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // text-align: center;
    text-align: center;
    margin: 0 auto;
}

.user-description__avatar-svg {
    fill: yellow;
}

.blur {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.blur:hover {
    opacity: 0;
}

.user-description__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-description__text {
    padding: 10px;
    text-indent: 1.5em;
}

.text-color-blue {
    color: blue;
}

.about__right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: #eae8e2;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about__right-description.text-content {
    color: #000000;
}

.skill__circle {
    fill: none;
    stroke-width: 25;
}

.skills-list-item {
    font-family: "Roboto";
    font-size: 28px;
    color: #474b57;
}

.sector {
    stroke-dasharray: 502;
    stroke-dashoffset: 251;
    transition: all 1s;
}

.map__data {
    height: 600px;
    text-align: center;
}

#map {
    height: 650px;
    background: url(../../images/content/map.jpg) center center no-repeat;
    background-size: cover;
}

// Футер

.footer {
    height: 70px;
    min-width: 100%;
    background-color: rgba($color: #000, $alpha: .7);
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
}

.footer__row {
    display: flex;
    width: 33.3%;
    height: 50px;
}

.footer__row--middle {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footer__col--low {
    display: flex;
    flex-direction: row; 
}



.menu__list {
    display: flex;
    color: #FFF;
}

.menu__item {
    padding: 5px;
    list-style: none;
    color: #FFF;
    text-decoration: none;
}

.menu__link {
    color: #FFF;
    text-decoration: none;
}

.text-content {
    font-size: 12px;
    color: rgba($color: #fff, $alpha: .7);
    padding: 10px;
}

.contacts {
    width: 250px;
    height: 200px;
    margin: 150px auto;
    background-color: rgba($color: #fff, $alpha: .5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__list {
    width: 210px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 26px;
}

.contacts-row__icon {
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    width: 26px;
    height: 26px;
}

.contacts-row__title {
    padding: 10px;
}

// phone
.contacts__list li:nth-child(1) .contacts-row__icon {
    background-image: url(../../images/content/icons/phone-26-black.png);
}

.contacts__list li:nth-child(1) .contacts-row__icon:hover {
    background-image: url(../../images/content/icons/phone-26-green.png);
}

// e-mail
.contacts__list li:nth-child(2) .contacts-row__icon {
    background-image: url(../../images/content/icons/mail-26-black.png);
}

.contacts__list li:nth-child(2) .contacts-row__icon:hover {
    background-image: url(../../images/content/icons/mail-26-blue.png);
}

// skype
.contacts__list li:nth-child(3) .contacts-row__icon {
    background-image: url(../../images/content/icons/skype-26-black.png);
}

.contacts__list li:nth-child(3) .contacts-row__icon:hover {
    background-image: url(../../images/content/icons/skype-26-blue.png);
}