.hero {
    background: url(../../images/bg/hero1800.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__links-hamburger {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgreen;
    width: 100%;
}

.hamburger {
    width: 40px;
    height: 40px;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
    margin-top: 30px;
}

.hamburger__item{
    width: 40px;
    height: 5px;
    background-color: #FFF;
    border-radius: 5%;
    overflow: hidden;
}

.hero__links {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
}

.user__name {
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.171;
    text-align: center;
}


.user__desc {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    border: 1px solid red;
}

.arrow-down {
    width: 30px;
    min-height: 30px;
    background: url(../../images/content/double-arrow-down.png) center center no-repeat;
    background-size: cover;
    // overflow: hidden;
    text-align: center;
    margin-top: 70px;
    // position: absolute;
    // left: 900px;
    // background-color: green;
}

.socials__link {
    text-decoration: none;
}
  
.section-title__img {
    background-image: url(../../images/content/user-full.jpg);
    width: 140px;
    min-height: 140px;
    background-size: cover;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    text-align: center;
}

.user__description {
    color: rgba($color: #fff, $alpha: .7);
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid violet;
    align-items: center;
    justify-content: center;
}

.hero__title {
    width: 300px;
    margin-top: 200px;
    text-align: center;
    vertical-align: top;
    border: 1px salmon solid;
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.about {
    display: flex;
    // overflow: hidden;
    min-height: 100%;
    min-width: 100%;
}

.about__left {
    width: 50%;
    min-height: 100%;
    background-color: #f2f0e8;
}

.about__left-title {
    border: 1px solid darkblue;
}

.about__left-description {
    border: 1px solid crimson;
}

.triangles {
    min-height: 100%;
    height: 200px;
    margin-top: -200px;
    z-index: 1;
    padding: 0;
}

.triangles-svg {
    margin: 0 auto;
    width: 100%;
}

.svg-rect-left {
    fill: #f2f0e8;
    // stroke-width: 5;
    // fill-opacity: 0.7;
    // stroke-opacity: 0.8;
}

.svg-rect-right {
    fill: #eae8e2;
}

.block-title {
    font-size: 62.792px;
    font-family: "sansuswebissimo";
    color: rgb(71, 75, 87);
    text-transform: uppercase;
    line-height: 1.048;
    text-align: center;
    // font-weight: bold;
}

.about__right-title {
    text-align: center;
    border: 1px solid crimson;

}

.block-subtitle {
    width: 265px;
    min-height: 65px;
    text-align: center;
    margin: 10px;
    font-size: 35px;
    font-family: "sansuswebissimo";
    color: rgb(71, 75, 87);
    text-transform: uppercase;
    line-height: 1.171;
    border: 1px solid crimson;
    display: inline-block;
}

.user-description__image {
    text-align: center;
    border: 1px solid green;
}

.user-descpription__avatar {
    // width: 300px;
    // min-height: 300px;
    // background-image: url(../../images/content/user-full2.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // text-align: center;
    text-align: center;
    margin: 0 auto;
}

.user-description__avatar-svg {
    fill: yellow;
}

.blur {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.blur:hover {
    opacity: 0;
}

.about__right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: #eae8e2;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about__right-description.text-content {
    color: #000000;
}

.skill__circle {
    fill: none;
    stroke-width: 25;
}

.sector {
    stroke-dasharray: 722;
    stroke-dashoffset: 361;
    transition: all 1s;
}

#map {
    height: 650px;
    background: url(../../images/bg/dreamliner2.jpg) center center no-repeat;
    background-size: cover;
}

.footer {
    max-height: 100px;
    min-width: 100%;
    background-color: rgba($color: #000, $alpha: .7);
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    color: #FFF;
}

.menu__item {
    padding: 5px;
    list-style: none;
    color: #FFF;
    text-decoration: none;
}

.menu__link {
    color: #FFF;
    text-decoration: none; 
}

.text-content {
    font-size: 12px;
    color: rgba($color: #fff, $alpha: .7);
}

.footer__col--right {
    display: flex;
    flex-direction: row; 
}