.hero {
    background: url(../../images/bg/hero.png) no-repeat center center;
    background-size: cover;
    border: 1px solid red;
    position: relative;
    text-align: center;
}

.hero__links {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.socials {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.user__pic {
    width: 100px;
}

.section-title__img {
    background-image: url(../../images/content/user-full.jpg);
    width: 200px;
    min-height: 200px;
    background-size: cover;
    border-radius: 50%;
}

.user__description {
    color: rgba($color: #fff, $alpha: .7)
}

.hero__title {
    margin-top: 300px;
    text-align: center;
}

.about {
    display: flex;
}

.about__left {
    padding: 20px;
}

.block-title {
    text-align: center;
    font-size: 18px;
}

.block-subtitle {
    text-align: center;
    margin: 10px;
}

.user-description__image {
    text-align: center;
}

.user-descpription__avatar {
    width: 300px;
    min-height: 300px;
    background-image: url(../../images/content/user-full2.jpg);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about__right {
    background-color: beige;
    padding: 20px;
}

.footer {
    background-color: rgba($color: #000000, $alpha: .7);
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    color: #FFF;
}

.menu__item {
    padding: 5px;
    list-style: none;
}

.text-content {
    color: #FFF;
}