.form-low-left--welcome {
  width: 33.3%;
}

.form-low-left--welcome a {
  width: 100%;
}

.form-low-left--welcome:last-child {
  border: none;
}

.hero__title--title {
  margin-top: 30px;
  margin-bottom: 50px;

}

.form-upper--welcome {
  justify-content: flex-start;
}