.svg-rect-left--works {
  fill: #161a2a;
  fill-opacity: 0.7;
}

.svg-rect-right--works {
  fill: #161a2a;
  fill-opacity: 0.7;
}

.triangles-text {
  fill: #fff;
  font-size: 35px;
  font-family: sansuswebissimo;
  text-transform: uppercase;
}

.about__left--works, .about__right--works {
  height: 750px;
}

.about__left--works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block-subtitle--works {
  width: 400px;
}

.block-subtitle-small {
  font-family: 'Roboto';
  font-size: 16px;
  color: #083c96;
  text-transform: uppercase;
  font-weight: 500;
}

.about__right-button {
  width: 200px;
  height: 45px;
  background-color: #004cd1;
  display: flex;
  margin-top: 60px;
  text-decoration: none;
}

.about__right-button-img {
  width: 45px;
  height: 45px;
  background: url(/images/content/icons/link.png) center center no-repeat;
}

.about__right-button-link {
  width: 155px;
  height: 45px;
  font-family: 'Roboto';
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.slider-up {
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-up-img {
  width: 335px;
  height: 365px;
  box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
}

.slider-up-pic {
  width: 335px;
  height: 365px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-low {
  height: 275px;
  display: flex;
}

.slider-low-left {
  height: 275px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-low-right {
  height: 275px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-low-pic {
  width: 230px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-low-left-wrap {
  height: 275px;
  width: 25%;
  background-color: rgba($color: #bcbdc6, $alpha: .7);
  position: absolute;
}

.slider-low-right-wrap {
  height: 275px;
  width: 25%;
  background-color: rgba($color: #9e9fa6, $alpha: .7);
  position: absolute;
}

.slider-arrow-link {
  width: 45px;
  height: 45px;
  margin-left: 0 auto;
  position: absolute;
}

.slider-arrow {
  width: 45px;
  height: 45px;
}

.slider-arrow--up {
  background: url(/images/content/icons/portf_arrow_up.png) center center no-repeat;
}

.slider-arrow--low {
  background: url(/images/content/icons/portf_arrow_down.png) center center no-repeat;
}

.section-works {
  height: 1354px;
  background: url(/images/bg/works1200.png) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title--works {
  width: 350px;
  margin-top: 40px;
  font-size: 63px;
  text-align: center;

}

.reviews {
  width: 770px;
  height: 250px;
  margin-top: 65px;
  display: flex;
}

.reviews-left {
  height: 250px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;
  // vertical-align: middle;
}

.reviews__img-pic {
  width: 75px;
  height: 75px;
  background-size: cover;
}

.reviews__text {
  width: 375px;
  height: 70px;
  margin-top: 20px;
  font-family: 'robotolight_italic';
  font-size: 16px;
  color: #fff;
}

.reviews__name {
  width: 180px;
  height: 40px;
  margin-top: 30px;
  font-family: 'robotolight_italic';
  font-size: 16px;
  color: #fff;
}

.reviews-right {
  height: 250px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-form {
  width: 380px;
  height: 460px;
  background-color: rgba($color: #2b2c29, $alpha: .5);
  margin-top: 72px;
}

.form-upper-works {
  height: 415px;
  background: none;
  justify-content: flex-start;
}

.form-title-works {
  text-align: center;
}

.form-input--works {
  height: 326px;
}

.form-input__text--works {
  width: 385px;
}

.form-input__textarea {
  width: 340px;
  height: 130px;
}

.form-input__textarea-text {
  width: 340px;
  height: 130px;
  resize: none;
  padding: 10px;
}

.form-low-works {
  background: none;
}

.form-low-left--works {
  border: none;
}

.form-button--works {
  color: #918e91;
  background: none;
}

.form-button--works:hover {
  color: #fff;
}

.works-arrow-link {
  margin-top: 70px;
  display: block;
}

.works-arrow-img {
  width: 26px;
  height: 16px;
  background: url(/images/content/icons/arrow_up_works.png) center center no-repeat;
  background-size: cover;
}