extends ../main.layout.pug

block variables
  - var title = 'Главная страница'

block content
  section.section.hero
    .hero__links
      ul.socials
        each item in ['vk', 'tv', 'in']
          li.socials.item
            a(href=`${item}`).socials__link
    .hero__menu.hamburger
    .hero__title  
      .section-title
        img.section-title__img
      .user.hero__user
        .user__pic
          img.user__avatar
        .user__description
          .user__name Имя Имя
          .user__desc Личный сайт
    .arrow-down.hero__scroll-button
  section.section.about
    .about__left
      .about__left-title
        .block-title Обо мне
      .about__left-description !!!
        .user-description
          .user-description__image
            img.user-descpription__avatar
          .user-description__title
    .about__right
  section.section.map
  footer.footer