extends ../main.layout.pug

block variables
  - var title = 'Главная страница'

block content
  section.section.hero
    .hero__links
      ul.socials
        each item in ['vk', 'tv', 'in']
          li.socials.item
            a(href=`${item}`).socials__link
    .hero__menu.hamburger
    .hero__title  
      .section-title
        img.section-title__img
    .arrow-down.hero__scroll-button
  section.section.about
  section.section.map
  footer.footer